<form action="#" th:action="@{/books/update/{id}(id=${book.id})}" th:object="${book}" method="post">
    <label for="title">title</label>
    <input type="text" th:field="*{title}" id="title">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span> <br/>
    <label for="author">author</label>
    <input type="text" th:field="*{author}" id="author" readonly>
    <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span> <br/>
    <label for="isbn">isbn</label>
    <input type="text" th:field="*{isbn}" id="isbn" readonly>
    <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span> <br/>
    <input type="submit" value="Update User">
</form>